body {
    background-color: #0731a5;
}

.barra-nav {
    padding: 0 10px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    max-width: 1500px;
    text-align: center;
}

.titulo {
    font-family: unset;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.sobre {
    position: relative;
    top: -40px;
    left: 1300px
}

.contato {
    position: relative;
    top: -40px;
    left: 1320px
}

.perfil {
    width: 350px;
    position: relative;
    top: 100px;
    left: 560px;
    border: 10px solid black;
    border-radius: 90px;
}

h1 {
    margin: 200px 0px 0 250px;
    font-family: monospace;
    color: #fff;
}

.contato-pg2 {
    position: relative;
    top: -40px;
    left: 1340px
}

.text{
    color: white;
}

.title-desc{
    position: relative;
    top: -100px;
}
.desc{
    position: relative;
    top: -80px;
    left: 60px;
}

.title-curi{
    position: relative;
    top: -550px;
    left: -40px;
}

.curi{
    position: relative;
    top:  -500px;
    left: 60px;
}
.title-conq{
    position: relative;
    top: -435px;
    left: 800px;
}

.conq{
    position: relative;
    top: -400px;
    left: 930px;
}

.logo{
    position: relative;
    top: 80px;
    left: 200px;
}

.logo-insta{
    position: relative;
    top: -250px;
    left: 250px;
    width: 100px;
}
.logo-git{
    position: relative;
    top: 50px;
    left: 100px;
    width:200px;
}

.insta{
    position: relative;
    top: -520px;
    left: 760px;
}
.git{
    position: relative;
    top: -450px;
    left: 760px;
}

.sobre-pg3 {
    position: relative;
    top: -525px;
    left: 1300px
}

.contato-pg3 {
    position: relative;
    top: -525px;
    left: 1340px
}